# Ignore workspace layout (crucial for different screen sizes)
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Ignore cache and internal logs
.obsidian/cache/
.obsidian/plugins/obsidian-git/

# Ignore OS specific files
.DS_Store
Thumbs.db
